#### In this Video We will Cover
- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 676.7 kB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=a7236be7dc46e3644620cb9f7af19f8207c61fbf26a974f0da4ddf792f4f6189
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframes').getOrCreate()

In [4]:
spark

In [5]:
new=spark.sparkContext.textFile( "/content/sample_data/users.csv" ) \
.map( lambda x: (x.split("|")[2], 1) ) \
.reduceByKey(lambda x,y:x+y).collect()

In [6]:
new

[('gender', 1), ('M', 6), ('F', 2)]

In [7]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [11]:
df_pyspark=spark.read.csv('/content/sample_data/users.csv',inferSchema=True)

In [12]:
df_pyspark

DataFrame[_c0: string]

In [15]:
## read the dataset
df_pyspark=spark.read.csv('/content/sample_data/tips.csv',inferSchema=True)

In [16]:
df_pyspark.show()

+----------+----+------+------+---+------+----+
|       _c0| _c1|   _c2|   _c3|_c4|   _c5| _c6|
+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [17]:
df_pyspark=spark.read.option('header','true').csv('/content/sample_data/tips.csv',inferSchema=True)

In [18]:
df_pyspark.show(10)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 10 rows

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
### Check the schema
df_pyspark.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)]

In [20]:
df_pyspark.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [21]:
df_pyspark.select(['total_bill','sex','day','time']).show()

+----------+------+---+------+
|total_bill|   sex|day|  time|
+----------+------+---+------+
|     16.99|Female|Sun|Dinner|
|     10.34|  Male|Sun|Dinner|
|     21.01|  Male|Sun|Dinner|
|     23.68|  Male|Sun|Dinner|
|     24.59|Female|Sun|Dinner|
|     25.29|  Male|Sun|Dinner|
|      8.77|  Male|Sun|Dinner|
|     26.88|  Male|Sun|Dinner|
|     15.04|  Male|Sun|Dinner|
|     14.78|  Male|Sun|Dinner|
|     10.27|  Male|Sun|Dinner|
|     35.26|Female|Sun|Dinner|
|     15.42|  Male|Sun|Dinner|
|     18.43|  Male|Sun|Dinner|
|     14.83|Female|Sun|Dinner|
|     21.58|  Male|Sun|Dinner|
|     10.33|Female|Sun|Dinner|
|     16.29|  Male|Sun|Dinner|
|     16.97|Female|Sun|Dinner|
|     20.65|  Male|Sat|Dinner|
+----------+------+---+------+
only showing top 20 rows

In [ ]:
df_pyspark[0]

Column<'total_bill'>

In [ ]:
df_pyspark[['total_bill','tip','sex','smoker']].show()

+----------+----+------+------+
|total_bill| tip|   sex|smoker|
+----------+----+------+------+
|     16.99|1.01|Female|    No|
|     10.34|1.66|  Male|    No|
|     21.01| 3.5|  Male|    No|
|     23.68|3.31|  Male|    No|
|     24.59|3.61|Female|    No|
|     25.29|4.71|  Male|    No|
|      8.77| 2.0|  Male|    No|
|     26.88|3.12|  Male|    No|
|     15.04|1.96|  Male|    No|
|     14.78|3.23|  Male|    No|
|     10.27|1.71|  Male|    No|
|     35.26| 5.0|Female|    No|
|     15.42|1.57|  Male|    No|
|     18.43| 3.0|  Male|    No|
|     14.83|3.02|Female|    No|
|     21.58|3.92|  Male|    No|
|     10.33|1.67|Female|    No|
|     16.29|3.71|  Male|    No|
|     16.97| 3.5|Female|    No|
|     20.65|3.35|  Male|    No|
+----------+----+------+------+
only showing top 20 rows

In [22]:
df_pyspark.dtypes

[('total_bill', 'double'),
 ('tip', 'double'),
 ('sex', 'string'),
 ('smoker', 'string'),
 ('day', 'string'),
 ('time', 'string'),
 ('size', 'int')]

In [23]:
df_pyspark.describe().show()

+-------+------------------+------------------+------+------+----+------+------------------+
|summary|        total_bill|               tip|   sex|smoker| day|  time|              size|
+-------+------------------+------------------+------+------+----+------+------------------+
|  count|               244|               244|   244|   244| 244|   244|               244|
|   mean|19.785942622950824|2.9982786885245902|  NULL|  NULL|NULL|  NULL| 2.569672131147541|
| stddev| 8.902411954856857|1.3836381890011815|  NULL|  NULL|NULL|  NULL|0.9510998047322347|
|    min|              3.07|               1.0|Female|    No| Fri|Dinner|                 1|
|    max|             50.81|              10.0|  Male|   Yes|Thur| Lunch|                 6|
+-------+------------------+------------------+------+------+----+------+------------------+

In [ ]:
df_pyspark.dtypes

[('total_bill', 'double'),
 ('tip', 'double'),
 ('sex', 'string'),
 ('smoker', 'string'),
 ('day', 'string'),
 ('time', 'string'),
 ('size', 'int'),
 ('total bill after discount', 'double')]

In [24]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('total bill after discount',df_pyspark['total_bill']-2)

In [25]:
df_pyspark.show()

+----------+----+------+------+---+------+----+-------------------------+
|total_bill| tip|   sex|smoker|day|  time|size|total bill after discount|
+----------+----+------+------+---+------+----+-------------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|       14.989999999999998|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|                     8.34|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|                    19.01|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|                    21.68|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|                    22.59|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|                    23.29|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|                     6.77|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|                    24.88|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|                    13.04|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|                    12.78|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|                     8.27|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|                    33.26|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|                    13.42|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|                    16.43|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|                    12.83|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|                    19.58|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|                     8.33|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|                    14.29|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|       14.969999999999999|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|                    18.65|
+----------+----+------+------+---+------+----+-------------------------+
only showing top 20 rows

In [26]:
### Rename the columns
df_pyspark=df_pyspark.withColumnRenamed('total bill after discount','Final_Bill')

In [27]:
df_pyspark.show()

+----------+----+------+------+---+------+----+------------------+
|total_bill| tip|   sex|smoker|day|  time|size|        Final_Bill|
+----------+----+------+------+---+------+----+------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|14.989999999999998|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|              8.34|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|             19.01|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|             21.68|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|             22.59|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|             23.29|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|              6.77|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|             24.88|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|             13.04|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|             12.78|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|              8.27|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|             33.26|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|             13.42|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|             16.43|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|             12.83|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|             19.58|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|              8.33|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|             14.29|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|14.969999999999999|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|             18.65|
+----------+----+------+------+---+------+----+------------------+
only showing top 20 rows

In [28]:
### Drop the columns
df_pyspark=df_pyspark.drop('Final_Bill')

In [ ]:
df_pyspark.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [ ]:
df_pyspark=df_pyspark.drop('smoker')

In [ ]:
df_pyspark1=spark.read.option('header','true').csv('/content/sample_data/test2.csv',inferSchema=True)

In [ ]:
df_pyspark1.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [ ]:
### any==how
df_pyspark1=df_pyspark1.na.drop(how="any").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_pyspark1.na.fill(0,['Experience','age','Salary']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|  0|         0| 40000|
|     NULL| 34|        10| 38000|
|     NULL| 36|         0|     0|
+---------+---+----------+------+

In [ ]:
df_pyspark1.na.fill('No Name',['Name']).na.fill(0,['Experience','age','Salary']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|  0|         0| 40000|
|  No Name| 34|        10| 38000|
|  No Name| 36|         0|     0|
+---------+---+----------+------+

In [ ]:
# PySpark Aggregation Functions
## read the dataset
df_pyspark=spark.read.option('header','true').csv('/content/sample_data/tips.csv',inferSchema=True)

In [ ]:
df_pyspark.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [ ]:
df_pyspark.groupBy('smoker').count().show()

+------+-----+
|smoker|count|
+------+-----+
|    No|  151|
|   Yes|   93|
+------+-----+

In [ ]:
df_pyspark.groupBy('sex').count().show()

In [ ]:
df_pyspark.groupBy('sex').sum().show()

+------+------------------+-----------------+---------+
|   sex|   sum(total_bill)|         sum(tip)|sum(size)|
+------+------------------+-----------------+---------+
|Female|1570.9499999999998|           246.51|      214|
|  Male|3256.8200000000024|485.0700000000001|      413|
+------+------------------+-----------------+---------+

In [ ]:
df_pyspark.groupBy('sex').max('total_bill').show()

+------+---------------+
|   sex|max(total_bill)|
+------+---------------+
|Female|           44.3|
|  Male|          50.81|
+------+---------------+

In [ ]:
df_pyspark.groupBy('sex').min('total_bill').show()

+------+---------------+
|   sex|min(total_bill)|
+------+---------------+
|Female|           3.07|
|  Male|           7.25|
+------+---------------+

In [ ]:
df_pyspark.groupBy(['day','sex']).sum('total_bill').show()

+----+------+------------------+
| day|   sex|   sum(total_bill)|
+----+------+------------------+
| Sat|  Male|1227.3499999999997|
|Thur|  Male| 561.4399999999999|
| Sun|  Male|           1269.46|
| Fri|  Male|            198.57|
| Sat|Female| 551.0499999999998|
| Fri|Female|            127.31|
|Thur|Female|            534.89|
| Sun|Female|357.69999999999993|
+----+------+------------------+

In [ ]:
df_pyspark.groupBy('sex').avg('total_bill').show()

+------+------------------+
|   sex|   avg(total_bill)|
+------+------------------+
|Female|18.056896551724137|
|  Male|20.744076433121034|
+------+------------------+

In [ ]:
df_pyspark.groupBy(['time','day']).avg('total_bill').filter("time=='Dinner'").show()

+------+----+------------------+
|  time| day|   avg(total_bill)|
+------+----+------------------+
|Dinner|Thur|             18.78|
|Dinner| Fri| 19.66333333333333|
|Dinner| Sun|21.410000000000004|
|Dinner| Sat|20.441379310344825|
+------+----+------------------+

In [ ]:
df_pyspark.groupBy('day').avg('total_bill').filter("day=='Sun' or day=='Thur'").show()

+----+------------------+
| day|   avg(total_bill)|
+----+------------------+
|Thur|17.682741935483865|
| Sun|21.410000000000004|
+----+------------------+

In [ ]:
df_pyspark.createOrReplaceTempView('tips')

In [ ]:
df_pyspark.filter("total_bill > 20 and sex='Male'").show(5)

+----------+----+----+------+---+------+----+
|total_bill| tip| sex|smoker|day|  time|size|
+----------+----+----+------+---+------+----+
|     21.01| 3.5|Male|    No|Sun|Dinner|   3|
|     23.68|3.31|Male|    No|Sun|Dinner|   2|
|     25.29|4.71|Male|    No|Sun|Dinner|   4|
|     26.88|3.12|Male|    No|Sun|Dinner|   4|
|     21.58|3.92|Male|    No|Sun|Dinner|   2|
+----------+----+----+------+---+------+----+
only showing top 5 rows

In [ ]:
spark.sql("select * from tips where total_bill > 20 and sex='Male'").show(5)

+----------+----+----+------+---+------+----+
|total_bill| tip| sex|smoker|day|  time|size|
+----------+----+----+------+---+------+----+
|     21.01| 3.5|Male|    No|Sun|Dinner|   3|
|     23.68|3.31|Male|    No|Sun|Dinner|   2|
|     25.29|4.71|Male|    No|Sun|Dinner|   4|
|     26.88|3.12|Male|    No|Sun|Dinner|   4|
|     21.58|3.92|Male|    No|Sun|Dinner|   2|
+----------+----+----+------+---+------+----+
only showing top 5 rows

In [ ]:
df_pyspark.groupBy('day').avg('total_bill').filter("day=='Sun' or day=='Thur'").show()

+----+------------------+
| day|   avg(total_bill)|
+----+------------------+
|Thur|17.682741935483865|
| Sun|21.410000000000004|
+----+------------------+

In [ ]:
spark.sql("select day,avg(total_bill) from tips group by day having day in('Sun','Thur')").show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `tips` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 32;
'UnresolvedHaving 'day IN (Sun,Thur)
+- 'Aggregate ['day], ['day, unresolvedalias('avg('total_bill), None)]
   +- 'UnresolvedRelation [tips], [], false

In [ ]:
spark.catalog.dropTempView("tips")

True